.btn {
  background-color: var(--active-text);
  font-family: Roboto, sans-serif;
  color: var(--white-color);
  border: none;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;

  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
}
