.client {
  padding-bottom: 94px;
  padding-top: 94px;
}

.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.client__list {
  display: flex;
  justify-content: space-between;
}

.client__btn {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  background-color: var(--white-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--active-text);
  }
}

.client__logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .client__btn:hover &,
  .client__btn:focus & {
    fill: var(--active-text);
  }
}
