.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.feature__list {
  @media screen and (min-width: 768px) {
    display: flex;
    & .feature__item:nth-child(2n) {
      margin-left: 30px;
    }
    flex-basis: calc(100% / 2 - 90);
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    & .feature__item:nth-child(2n) {
      margin-left: 0px;
    }
    & .feature__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.feature__icon {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    width: 354px;
    justify-content: left;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.feature__text {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
