.images-section {
  margin-bottom: 94px;
}

.images-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.images-section__list {
  display: flex;
}

.images-section__items {
  width: 370px;
  margin-right: 30px;
  position: relative;
}

.images-section__text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

.images-section__text {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
