.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: relative;
}

.modal__close-btn {
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--active-text);
  }
}

.modal__title {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--secondary-text);
}

.modal__label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  display: block;
  height: 58px;
  position: relative;
  margin-bottom: 10px;

  color: var(--main-text);
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-top: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    cursor: pointer;
  }

  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
}

.modal__input-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal__input:focus + & {
    fill: var(--active-text);
  }
}

.modal__label-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 20px;

  color: var(--main-text);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px;
  outline: none;
  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
}

.modal__property {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 11px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--main-text);
  position: relative;
  margin-bottom: 30px;
  user-select: none;
}

.modal__property-link {
  color: var(--active-text);
  text-decoration: underline;
  display: block;
  margin-left: 5px;
}

.modal__input-checkbox {
  -webkit-appearance: none;
}

.modal__checkbox {
  width: 15px;
  height: 15px;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  .modal__input-checkbox:checked + & {
    background-color: var(--active-text);
    border: none;
  }
}

.modal__checkbox-icon {
  display: block;
  justify-content: center;
  align-items: center;
}

.modal__btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--active-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
}
