.team {
  background-color: var(--third-bg-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.team__list {
  display: flex;
}

.team__item {
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background-color: var(--white-color);
  .team__list &:not(:last-child) {
    margin-right: 30px;
  }
  & > img {
    margin-bottom: 30px;
  }
}

.team__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  display: block;
  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  display: block;
  margin-bottom: 16px;
}

.team__link-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__link-item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--active-text);
  }
}

.team__link-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .team__link-item:hover &,
  .team__link-item:focus & {
    fill: var(--white-color);
  }
}
