:root {
  --background-main: #e5e5e5;
  --main-text: #757575;
  --secondary-text: #212121;
  --active-text: #2196f3;
  --white-color: #ffffff;
  --secondary-background: #2f303a;
  --third-bg-color: #f5f4fa;
}

body {
  background-color: var(--white-color);
  color: var(--main-text);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-text);

  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  &:focus,
  &:hover {
    color: var(--active-text);
  }
}

li {
  list-style-type: none;
}

button {
  border: none;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
